// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

footer {
  height: 100px;
  border-top: 1px solid #666;
  display: flex;
  justify-content: space-between;
}
.footer_nav {
  list-style-type: none;
  display: flex;
}
.footer_nav li {
  margin-right: 1rem;
}